/* ABSTRACTS */
/* BASE */
/* Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&family=Raleway:wght@300;400;700&display=swap");
/* Reset and General Settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  width: 100% !important;
  font-size: 10px;
}

body {
  font-family: "Muli", sans-serif;
  color: #666666;
  background-color: #fefefe;
}

section {
  padding: 8rem 0;
}

@media (max-width: 992px) {
  section {
    padding: 4rem 0;
  }
}

@media (max-width: 768px) {
  section {
    padding: 2rem 0;
  }
}

@media (max-width: 576px) {
  section {
    padding: 1rem 0;
  }
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #27ae60;
  font-weight: 300;
  text-transform: capitalize;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 300;
}

@media (max-width: 576px) {
  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  color: #666666;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
}

::selection {
  background-color: #27ae60;
  color: #fefefe;
}

.bg-light {
  background-color: #fefefe;
}

.bg-gray {
  background-color: #f8f9fa;
}

.bg-dark {
  background-color: #14151a;
}

.h-100 {
  height: 100%;
}

.vh-25 {
  height: 25rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.py-8 {
  padding: 8rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.d-block {
  display: block;
}

.mx-1 {
  margin: 0 1rem !important;
}

/* COMPONENTS */
.back-top {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border: 0.1rem solid #f23a2e;
  border-radius: 0.5rem;
  color: #fefefe;
  background-color: #14151a;
  opacity: 0;
  cursor: pointer;
  transition: all 500ms;
}

@media (max-width: 992px) {
  .back-top {
    display: none;
  }
}

.back-top:hover {
  opacity: 1;
  border: 0.1rem solid #14151a;
  background-color: #27ae60;
}

.badge {
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.badge:hover {
  opacity: 0.8;
}

.badge-primary {
  background-color: #2f89fc;
}

.badge-danger {
  background-color: #f23a2e;
}

.badge-warning {
  background-color: #ffc107;
  color: #14151a;
}

.badge-success {
  background-color: #27ae60;
}

.badge-info {
  background-color: #5bc0de;
}

.entry-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}

.entry-meta img {
  width: 4rem;
  border-radius: 50%;
}

.entry-meta-name {
  margin: 0 1rem;
  color: #27ae60;
}

.entry-meta-date {
  margin-left: auto;
  font-size: 1.3rem;
  color: #a6a9ba;
}

.other-posts .post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25rem);
  grid-gap: 4rem;
  grid-template-areas: "item-1 item-1 item-2" "item-3 item-4 item-2";
}

@media (max-width: 1280px) {
  .other-posts .post {
    grid-gap: 2rem;
  }
}

@media (max-width: 992px) {
  .other-posts .post {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 25rem);
    grid-gap: 1rem;
    grid-template-areas: "item-1 item-1 item-2 item-2" "item-3 item-3 item-2 item-2" "item-4 item-4 item-2 item-2";
  }
}

@media (max-width: 768px) {
  .other-posts .post {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 25rem);
    grid-gap: 1rem;
    grid-template-areas: "item-1 item-2" "item-1 item-2";
  }
}

@media (max-width: 576px) {
  .other-posts .post {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25rem);
    grid-column-gap: 0;
    grid-row-gap: 1rem;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4";
    margin-bottom: 4rem;
  }
}

.other-posts .post-item-1 {
  grid-area: item-1;
}

@media (max-width: 768px) {
  .other-posts .post-item-1 a {
    height: 100%;
  }
}

.other-posts .post-item-2 {
  grid-area: item-2;
}

.other-posts .post-item-3 {
  grid-area: item-3;
}

@media (max-width: 768px) {
  .other-posts .post-item-3 {
    display: none;
  }
}

@media (max-width: 576px) {
  .other-posts .post-item-3 {
    display: block;
  }
}

.other-posts .post-item-4 {
  grid-area: item-4;
}

@media (max-width: 768px) {
  .other-posts .post-item-4 {
    display: none;
  }
}

@media (max-width: 576px) {
  .other-posts .post-item-4 {
    display: block;
  }
}

.other-posts .post-item .h-entry {
  display: block;
  border-radius: 0.4rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.other-posts .post-item .h-entry.gradient {
  position: relative;
}

.other-posts .post-item .h-entry.gradient:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}

.other-posts .post-item .tag {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 100;
}

.other-posts .post-item-text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 2rem;
  max-width: 35rem;
  line-height: 2.5rem;
}

.other-posts .post-item-text .title {
  color: #fefefe;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0;
  transition: all 500ms;
}

.other-posts .post-item-text .title:hover {
  color: #cbcbcb;
}

.other-posts .post-item-text .date {
  color: #a6a9ba;
  font-size: 1.5rem;
  transition: all 500ms;
}

.recent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 3rem;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .recent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .recent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .recent {
    grid-column-gap: 1rem;
  }
}

.recent-post {
  margin-bottom: 8rem;
}

@media (max-width: 1280px) {
  .recent-post {
    margin-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .recent-post:not(:last-child) {
    margin-bottom: 2rem;
  }
  .recent-post:last-child {
    margin-bottom: 0;
  }
}

.recent-post img {
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 24rem;
  height: 100%;
  object-fit: cover;
}

.recent-post .entry {
  width: 90%;
  margin: 2rem auto;
}

.recent-post .entry h2 {
  margin-top: 3rem;
}

.recent-post .entry-detail {
  line-height: 2.7rem;
}

.recent-post .entry a {
  display: block;
  margin-top: 2rem;
  color: #27ae60;
  letter-spacing: 0;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  transition: all 300ms ease;
}

.recent-post .entry a:hover {
  color: #36d278;
}

/* LAYOUT */
@media (max-width: 1280px) {
  .categories .category {
    padding: 3rem;
  }
}

.categories .category-title {
  margin-bottom: 3rem;
}

@media (max-width: 992px) {
  .categories .category-title {
    text-align: center;
  }
}

.categories .category-description {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .categories .category-description {
    text-align: justify;
    font-size: 1.5rem;
  }
}

/* Footer Section */
footer {
  color: #9f9f9f;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 576px) {
  footer {
    padding: 4rem 0 8rem !important;
  }
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container .footer-top {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  margin-bottom: 5rem;
}

@media (max-width: 992px) {
  footer .container .footer-top {
    grid-template-columns: 3fr 2fr 3fr;
  }
}

@media (max-width: 768px) {
  footer .container .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  footer .container .footer-top {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  footer .container .footer-top .footer-about h3 {
    font-size: 2.4rem;
    text-align: center;
  }
}

footer .container .footer-top .footer-about-description {
  margin-top: 2rem;
  text-align: justify;
}

footer .container .footer-top .footer-menu {
  justify-self: center;
}

@media (max-width: 992px) {
  footer .container .footer-top .footer-menu {
    justify-self: end;
  }
}

@media (max-width: 768px) {
  footer .container .footer-top .footer-menu {
    display: none;
  }
}

footer .container .footer-top .footer-menu-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 992px) {
  footer .container .footer-top .footer-menu-bottom {
    display: block;
  }
}

footer .container .footer-top .footer-menu-bottom .menu-list:nth-child(1) {
  padding-right: 3rem;
}

@media (max-width: 992px) {
  footer .container .footer-top .footer-menu-bottom .menu-list:nth-child(1) {
    padding-right: 0;
  }
}

footer .container .footer-top .footer-menu-bottom .menu-list .menu-link {
  color: #9f9f9f;
  line-height: 2.5rem;
  transition: all 300ms ease;
}

footer .container .footer-top .footer-menu-bottom .menu-list .menu-link:hover {
  color: #fefefe;
}

@media (max-width: 1280px) {
  footer .container .footer-top .footer-contact {
    justify-self: center;
  }
}

@media (max-width: 768px) {
  footer .container .footer-top .footer-contact {
    justify-self: center;
  }
}

@media (max-width: 576px) {
  footer .container .footer-top .footer-contact {
    display: none;
  }
}

footer .container .footer-top .footer-contact-list {
  margin-top: 2rem;
}

footer .container .footer-top .footer-contact-link {
  color: #fefefe;
  font-size: 2.5rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border: 0.1rem solid #fefefe;
  border-radius: 50%;
  margin-right: 1rem;
  letter-spacing: 0;
  transition: all 300ms ease;
}

footer .container .footer-top .footer-contact-link:nth-child(1):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-color: transparent;
}

footer .container .footer-top .footer-contact-link:nth-child(2):hover {
  background-color: #ff0000;
  border-color: transparent;
}

footer .container .footer-top .footer-contact-link:nth-child(3):hover {
  background-color: #fefefe;
  border-color: transparent;
  color: #ff0000;
}

footer .footer-bottom {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  footer .footer-bottom span:nth-of-type(1) {
    display: none;
  }
}

@media (max-width: 992px) {
  footer .footer-bottom span:nth-of-type(2) {
    display: block;
    text-align: center;
  }
}

footer .footer-bottom .brand {
  transition: all 300ms ease;
  color: #9f9f9f;
}

footer .footer-bottom .brand:hover {
  color: #fefefe;
  text-decoration: underline;
}

footer .footer-bottom i {
  color: #27ae60;
}

/* Header */
.top-header {
  padding: 2rem;
  border-bottom: 0.1rem solid #27ae60;
}

@media (max-width: 768px) {
  .top-header {
    padding: 1rem;
  }
}

.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .top-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.top-header .container .top-social-media {
  display: flex;
}

@media (max-width: 768px) {
  .top-header .container .top-social-media {
    display: none;
  }
}

.top-header .container .top-social-media .social-item {
  margin: 0 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .top-header .container .top-social-media .social-item {
    margin: 0 1rem;
    padding: 0.3rem;
  }
}

.top-header .container .top-social-media .social-item .social-link {
  font-size: 3rem;
  color: #27ae60;
  transition: all 500ms;
}

.top-header .container .top-social-media .social-item:hover .social-link {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .top-header .container .search-area {
    display: none;
  }
}

.top-header .container .search-area input[type="text"],
.top-header .container .search-area button[type="submit"] {
  border: none;
  background-color: transparent;
}

.top-header .container .search-area input[type="text"] {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid #27ae60;
  padding: 1rem;
  color: #27ae60;
}

.top-header .container .search-area button[type="submit"] {
  margin-left: -3rem;
  color: #27ae60;
  font-size: 2.5rem;
}

.nav-header .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .nav-header .navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10rem;
    background-color: #14151a;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    min-height: 100vh;
    width: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 500ms;
  }
  .nav-header .navbar.active {
    width: 50vw;
    transform: translateX(0);
  }
}

.nav-header .navbar .nav-list {
  display: flex;
}

@media (max-width: 768px) {
  .nav-header .navbar .nav-list {
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
  }
}

.nav-header .navbar .nav-list .nav-item {
  line-height: 8rem;
  transition: all 500ms;
  white-space: nowrap;
}

.nav-header .navbar .nav-list .nav-item .nav-link {
  padding: 0 1rem;
  font-size: 1.6rem;
  margin: 1rem;
  color: #fefefe;
}

@media (max-width: 576px) {
  .nav-header .navbar .nav-list .nav-item .nav-link {
    padding: 0;
    font-size: 1.4rem;
  }
}

.nav-header .navbar .nav-list .nav-item:hover {
  background-color: #27ae60;
}

.close-menu {
  user-select: none;
  cursor: pointer;
  position: fixed;
  top: 2.5rem;
  right: 2rem;
  display: none;
  z-index: 1001;
  transition: all 500ms;
}

.close-menu.active {
  right: 50%;
  transform: translateX(100%);
}

@media (max-height: 376px) {
  .close-menu.active {
    right: 2rem;
    transform: translateX(0) scale(1.1);
  }
}

@media (max-width: 768px) {
  .close-menu {
    display: block;
  }
}

.close-menu img {
  user-select: none;
  width: 50px;
  height: auto;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27ae60;
  max-width: 100%;
  height: 8rem;
  overflow: hidden;
}

@media (max-width: 992px) {
  .marquee {
    flex-direction: column;
    height: 10rem;
  }
}

.marquee-top {
  flex-basis: 30%;
  height: 100%;
  line-height: 8rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: right;
}

@media (max-width: 992px) {
  .marquee-top {
    line-height: 5rem;
  }
}

.marquee-top-title {
  color: #fefefe;
}

@media (max-width: 1280px) {
  .marquee-top-title {
    font-size: 2rem;
  }
}

.marquee-content {
  background-color: #1f2128;
  flex-basis: 70%;
  height: 100%;
}

.marquee-content-detail {
  color: #fefefe;
  font-size: 2.4rem;
  line-height: 8rem;
}

@media (max-width: 992px) {
  .marquee-content-detail {
    font-size: 2rem;
    line-height: 5rem;
  }
}

.pagination-custom {
  text-align: center;
}

.pagination-custom span,
.pagination-custom a {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
}

.pagination-custom a {
  background-color: #27ae60;
  color: #fefefe;
  transition: all 500ms;
}

.pagination-custom a:hover {
  background-color: #36d278;
}

.pagination-custom a:active {
  background-color: transparent;
  color: #27ae60;
  border: 0.1rem solid #27ae60;
}

.aside {
  flex: 30%;
  margin-left: 4rem;
}

@media (max-width: 1280px) {
  .aside {
    flex: 35%;
    margin-left: 2rem;
  }
}

@media (max-width: 992px) {
  .aside {
    margin-left: 0;
    display: none;
  }
}

.aside .aside-box {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  width: 100%;
  float: left;
}

.aside .aside-box *:last-child {
  margin-bottom: 0;
}

.aside .aside-box .heading {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(39, 174, 96, 0.2);
  font-weight: 400;
}

.aside .aside-box .post li {
  padding: 0 0 2rem 0;
  margin: 0 0 2rem 0;
}

.aside .aside-box .post li a {
  display: flex;
  letter-spacing: 0;
  font-family: "Muli", sans-serif;
  color: #14151a;
  transition: all 500ms;
}

.aside .aside-box .post li a img {
  width: 9rem;
  height: 100%;
  object-fit: cover;
  margin-right: 2rem;
}

.aside .aside-box .post li a .post-meta-title {
  font-weight: 400;
}

.aside .aside-box .post li a .post-meta-date {
  margin-top: 1rem;
}

.aside .aside-box .post li a:hover {
  color: rgba(102, 102, 102, 0.5);
}

.aside .aside-box .categories li {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem dotted rgba(102, 102, 102, 0.2);
}

.aside .aside-box .categories li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.aside .aside-box .categories li a {
  display: block;
  color: #27ae60;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-family: "Muli", sans-serif;
  transition: all 500ms;
}

.aside .aside-box .categories li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: rgba(102, 102, 102, 0.5);
  transition: all 500ms;
}

.aside .aside-box .categories li a:hover {
  color: #4bd786;
}

.aside .aside-box .categories li a:hover span {
  color: #14151a;
}

.aside .aside-box .categories li.active a {
  color: #14151a;
  font-style: italic;
}

/* PAGES */
main .images-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 3rem;
}

@media (max-width: 992px) {
  main .images-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 768px) {
  main .images-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
  }
}

@media (max-width: 992px) {
  main .images-content .image-content:nth-child(2) {
    display: none;
  }
  main .images-content .image-content:nth-child(1) a:not(:last-child), main .images-content .image-content:nth-child(3) a:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  main .images-content .image-content:nth-child(1) a:last-child {
    margin-bottom: 1rem;
  }
}

main .images-content .image-content .h-entry {
  display: block;
  border-radius: 0.4rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .images-content .image-content .h-entry.gradient {
  position: relative;
}

main .images-content .image-content .h-entry.gradient:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}

main .images-content .image-content-text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 2rem;
  max-width: 35rem;
  line-height: 2.5rem;
}

main .images-content .image-content-text .post-categories {
  margin-bottom: 3rem;
}

main .images-content .image-content-text .title {
  color: #fefefe;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0;
  transition: all 500ms;
}

main .images-content .image-content-text .title:hover {
  color: #cbcbcb;
}

main .images-content .image-content-text .date {
  color: #a6a9ba;
  font-size: 1.5rem;
  transition: all 500ms;
}

@media (max-width: 1280px) {
  main .recent-posts {
    padding-top: 4rem;
  }
}

main .recent-posts .recent-title {
  font-size: 3rem;
  margin: 6rem 0;
}

@media (max-width: 1280px) {
  main .recent-posts .recent-title {
    margin: 4rem 0;
  }
}

@media (max-width: 992px) {
  main .recent-posts .recent-title {
    text-align: center;
  }
}

.contact {
  background: url("../img/img_12.jpg") center/cover no-repeat;
}

.contact-gradient {
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.5), rgba(231, 60, 126, 0.5), rgba(35, 166, 213, 0.5), rgba(35, 213, 171, 0.5));
  background-size: 400% 400%;
  height: 100vh;
  animation: Gradient 10s ease infinite;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-gradient {
    height: 200vh;
  }
}

.contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}

.contact-info .card {
  position: relative;
  flex: 1;
  width: 30rem;
  min-height: 14rem;
  background-color: #14151a;
  margin: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info .card .icon {
  font-size: 3.6rem;
  color: #27ae60;
  transition: all 500ms;
}

.contact-info .card-content h3,
.contact-info .card-content a {
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  white-space: nowrap;
}

.contact-info .card-content h3 {
  top: 2rem;
  text-transform: capitalize;
  color: #fefefe;
}

.contact-info .card-content a {
  bottom: 2rem;
  color: #27ae60;
  text-transform: none;
}

.contact-info .card:hover .icon {
  transform: scale(4);
  opacity: 0;
}

.contact-info .card:hover h3 {
  opacity: 1;
  top: 4.6rem;
  transition: 500ms linear 500ms;
}

.contact-info .card:hover a {
  opacity: 1;
  bottom: 4.6rem;
  transition: 500ms linear 500ms;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.single-content {
  display: flex;
}

@media (max-width: 992px) {
  .single-content {
    flex-direction: column;
  }
}

.single-content-detail {
  flex: 70%;
  margin-right: 4rem;
}

@media (max-width: 1280px) {
  .single-content-detail {
    flex: 65%;
    margin-right: 2rem;
  }
}

@media (max-width: 992px) {
  .single-content-detail {
    margin-right: 0;
  }
}

.single-content-detail p {
  line-height: 3rem;
  font-size: 1.8rem;
  padding: 2rem;
}

.single-content-detail .gallery {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 50rem 25rem);
  grid-gap: 2rem;
  grid-template-areas: "item-1 item-1" "item-2 item-3";
}

@media (max-width: 992px) {
  .single-content-detail .gallery {
    grid-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .single-content-detail .gallery {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 25rem;
    grid-column-gap: 0;
  }
}

.single-content-detail .gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.single-content-detail .gallery .image-1 {
  grid-area: item-1;
}

.single-content-detail .gallery .image-2 {
  grid-area: item-2;
}

@media (max-width: 768px) {
  .single-content-detail .gallery .image-2 {
    display: none;
  }
}

.single-content-detail .gallery .image-3 {
  grid-area: item-3;
}

@media (max-width: 768px) {
  .single-content-detail .gallery .image-3 {
    display: none;
  }
}

.error-page {
  width: 100%;
  height: 100vh;
  background: url("../img/tv_noise.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.error-page .error-box {
  background-color: #14151a;
  width: 100%;
  max-width: 70rem;
  padding: 2.5rem 2.5rem 8rem;
  text-align: center;
  box-shadow: 0 0 2rem rgba(20, 21, 26, 0.8);
}

@media (max-width: 992px) {
  .error-page .error-box {
    max-width: 50rem;
    padding: 2.5rem;
  }
}

@media (max-height: 376px) {
  .error-page .error-box {
    height: 100vh;
  }
}

.error-page .error-box .logo {
  width: 6rem;
  height: 6rem;
}

.error-page .error-box .error-number {
  font-family: sans-serif;
  color: #fefefe;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

@media (max-width: 992px) {
  .error-page .error-box .error-number {
    font-size: 3.6rem;
  }
}

@media (max-width: 768px) {
  .error-page .error-box .error-number {
    font-size: 3rem;
  }
}

@media (max-height: 376px) {
  .error-page .error-box .error-number {
    margin: 0.5rem;
  }
}

.error-page .error-box .error-message {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fefefe;
  display: inline-block;
  padding: 1.5rem;
}

@media (max-width: 992px) {
  .error-page .error-box .error-message {
    font-size: 2rem;
  }
}

.error-page .error-box .error-description {
  color: #fefefe;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.6;
}

.error-page .error-box .error-cta {
  border: 0.1rem solid #27ae60;
  color: #27ae60;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  transition: all 500ms;
}

.error-page .error-box .error-cta:hover {
  color: #fefefe;
  background-color: #27ae60;
}

@media (max-width: 768px) {
  .error-page .error-box .error-cta {
    font-size: 1.7rem;
  }
}

/* @media screen and (min-width: 768px) {
	.error-box {
		max-width: 70rem !important;
	}
	.error-number {
		font-size: 6rem !important;
	}
	.error-message {
		font-size: 3.5rem !important;
	}
	.error-description {
		font-size: 1.6rem !important;
	}
	.error-cta {
		font-size: 2rem !important;
	}
} */
/*# sourceMappingURL=styles.css.map */