.single {
	//
	// !!! .entry-meta component'teki  _entry-meta.scss belgesinin içinde !!!
	//
	&-content {
		display: flex;

		@include media(large) {
			flex-direction: column;
		}

		&-detail {
			flex: 70%;
			margin-right: 4rem;

			@include media(xlarge) {
				flex: 65%;
				margin-right: 2rem;
			}
			@include media(large) {
				margin-right: 0;
			}

			p {
				line-height: 3rem;
				font-size: 1.8rem;
				padding: 2rem;
			}
			.gallery {
				margin: 5rem 0;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(1, 50rem 25rem);
				grid-gap: 2rem;
				grid-template-areas:
					"item-1 item-1"
					"item-2 item-3";

				@include media(large) {
					grid-gap: 1rem;
				}
				@include media(medium) {
					margin: 0;
					grid-template-columns: 1fr;
					grid-template-rows: 25rem;
					grid-column-gap: 0;
				}

				.image {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 0.4rem;
					}

					&-1 {
						grid-area: item-1;
					}
					&-2 {
						grid-area: item-2;

						@include media(medium) {
							display: none;
						}
					}
					&-3 {
						grid-area: item-3;

						@include media(medium) {
							display: none;
						}
					}
				}
			}
		}
	}
	//
	// !!! .aside layout'taki _sidebar.scss belgesinin içinde !!!
	//
}
