/* Header */
.top-header {
	padding: 2rem;
	border-bottom: 0.1rem solid $green-color;

	@include media(medium) {
		padding: 1rem;
	}

	.container {
		@include flex-display(flex, center, space-between);

		@include media(medium) {
			@include flex-display(flex, center, center);
		}

		.top-social-media {
			display: flex;

			@include media(medium) {
				display: none;
			}

			.social-item {
				margin: 0 1rem;
				padding: 1rem;

				@include media(medium) {
					margin: 0 1rem;
					padding: 0.3rem;
				}

				.social-link {
					font-size: 3rem;
					color: $green-color;
					transition: $general-transition;
				}

				&:hover {
					.social-link {
						opacity: 0.6;
					}
				}
			}
		}
		.search-area {
			@include media(medium) {
				display: none;
			}

			input[type="text"],
			button[type="submit"] {
				border: none;
				background-color: transparent;
			}

			input[type="text"] {
				font-size: 1.6rem;
				border-bottom: 0.1rem solid $green-color;
				padding: 1rem;
				color: $green-color;
			}

			button[type="submit"] {
				margin-left: -3rem;
				color: $green-color;
				font-size: 2.5rem;
			}
		}
	}
}
.nav-header {
	/* @include media(medium) {
		display: none;
	} */

	.navbar {
		@include flex-display(flex, center, flex-end);

		@include media(medium) {
			@include flex-display(flex, flex-start, flex-start);
			padding-top: 10rem;
			background-color: $dark-color;
			position: fixed;
			top: 0;
			right: 0;
			height: 100vh;
			width: 0;
			z-index: 100;
			transform: translateX(100%);
			transition: $general-transition;

			&.active {
				width: 50vw;
				transform: translateX(0);
			}
		}

		.nav-list {
			display: flex;

			@include media(medium) {
				flex-direction: column;
				flex-basis: 100%;
			}

			.nav-item {
				line-height: 8rem;
				transition: $general-transition;

				.nav-link {
					padding: 0 1rem;
					font-size: 1.6rem;
					margin: 1rem;
					color: $light-color;

					@include media(small) {
						padding: 0;
						font-size: 1.4rem;
					}
				}

				&:hover {
					background-color: $green-color;
				}
			}
		}
	}
}
.close-menu {
	cursor: pointer;
	transition: $general-transition;
	position: fixed;
	top: 2.5rem;
	right: 2rem;
	display: none;
	z-index: 101;
	transition: $general-transition;

	&.active {
		right: 50%;
		transform: translateX(100%);
	}

	@include media(medium) {
		display: block;
	}

	img {
		width: 50px;
		height: auto;
	}
}
