.marquee {
	@include flex-display(flex, center, center);
	background-color: $green-color;
	max-width: 100%;
	height: 8rem;
	overflow: hidden;

	@include media(large) {
		flex-direction: column;
		height: 10rem;
	}

	&-top {
		flex-basis: 30%;
		height: 100%;
		line-height: 8rem;
		padding-right: 2rem;
		padding-left: 2rem;
		text-align: right;

		@include media(large) {
			line-height: 5rem;
		}

		&-title {
			color: $light-color;

			@include media(xlarge) {
				font-size: 2rem;
			}
		}
	}
	&-content {
		background-color: lighten($dark-color, 5%);
		flex-basis: 70%;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		box-sizing: border-box;

		&-detail {
			display: inline-block;
			color: $light-color;
			font-size: 2.4rem;
			line-height: 8rem;
			animation: scroll-left 30s linear infinite;

			@include media(large) {
				font-size: 2rem;
				line-height: 5rem;
			}
			&:hover {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
