.marquee {
	display: flex;
	align-items: center;
	height: 8rem;
	background-color: $green-color;

	&-top {
		flex-basis: 25%;
		text-align: right;
		padding-right: 2rem;

		&-title {
			color: $light-color;
		}
	}
	&-content {
		flex-basis: 75%;
		background-color: lighten($dark-color, 5%);
		height: 100%;

		&-detail {
			color: $light-color;
			line-height: 8rem;
			font-size: 2.4rem;
		}
	}
}
