.pagination-custom {
	text-align: center;
	span,
	a {
		display: inline-block;
		height: 5rem;
		width: 5rem;
		line-height: 4.5rem;
		text-align: center;
		border-radius: 50%;
		font-size: 2rem;
	}
	a {
		background-color: $green-color;
		color: $light-color;
		transition: $general-transition;

		&:hover {
			background-color: lighten($green-color, 10%);
		}
		&:active {
			background-color: transparent;
			color: $green-color;
			border: 0.1rem solid $green-color;
		}
	}
}
