.badge {
	border: none;
	border-radius: 0.4rem;
	padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-family: $text-font;
    font-weight: 700;
	color: $light-color;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	cursor: pointer;
	@include general-transition(opacity, 300ms, ease);

	&:hover {
		opacity: 0.8;
	}

	&-primary {
		background-color: $blue-color;
	}
	&-danger {
		background-color: $red-color;
	}
	&-warning {
		background-color: $yellow-color;
		color: $dark-color;
	}
	&-success {
		background-color: $green-color;
	}
	&-info {
		background-color: $info-color;
	}
}
