.entry-meta {
	@include flex-display(flex, center, flex-start);
	padding: 2rem 0;

	img {
		width: 4rem;
		border-radius: 50%;
	}
	&-name {
		margin: 0 1rem;
		color: $green-color;
	}
	&-date {
		margin-left: auto;
		font-size: 1.3rem;
		color: lighten($dark-color, 60%);
	}
}
