/* Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&family=Raleway:wght@300;400;700&display=swap");

// Font-family typography
$head-font: "Raleway", sans-serif;
$text-font: "Muli", sans-serif;
$subtext-font: sans-serif;
