.bg {
	&-light {
		background-color: $light-color;
	}
	&-gray {
		background-color: $light-gray-color;
	}
	&-dark {
		background-color: $dark-color;
	}
}
.h-100 {
	height: 100%;
}
.vh-25 {
	height: 25rem;
}
.mb-3 {
	margin-bottom: 3rem;
}
.p-8 {
	padding: 8rem 0;
}
.d-block {
	display: block;
}
.h-entry {
	display: block;
	border-radius: 0.4rem;
	overflow: hidden;
	@include background-spr(cover, center, no-repeat);

	&.gradient {
		position: relative;
		&:before {
			z-index: 1;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(
				to bottom,
				transparent 0%,
				transparent 18%,
				rgba(0, 0, 0, 0.8) 99%,
				rgba(0, 0, 0, 0.8) 100%
			);
		}
	}
}
