// Flex-Display Mixin
@mixin flex-display($display, $align-items, $justify-content) {
	display: $display;
	align-items: $align-items;
	justify-content: $justify-content;
}

// Transition Mixin
@mixin general-transition($type, $time, $effect) {
	transition: $type $time $effect;
}

// Background Size - Position - Repeat Mixin
@mixin background-spr($size, $position, $repeat) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}
