// Color Varibales
$green-color: #27ae60;
// $green-color: #5cb85c;
$dark-color: #14151a;
$light-color: #fefefe;
$text-color: #808080;
$yellow-color: #ffc107;
$red-color: #f23a2e;
$blue-color: #2f89fc;
$info-color: #5bc0de;
$gray-color: #9f9f9f;
$light-gray-color: #f8f9fa;
$youtube-color: #ff0000;

// Transition Variable
$general-transition: all 500ms;
